.navbar {
    min-height: 80px;
    text-align: center;
}

.navbar-brand {
    line-height: 80px;
}

.proj {
    height: auto;
    width: 95%;
}

.btn-primary {
    background-color: skyblue;
}

.skyblue {
    color: skyblue;
}

#headerName1 {
    font-weight: bold;
}

#headerName2 {
    color: skyblue;
}

#headerCityPhoneEmail {
    color: skyblue;
}

.sectionTitle {
    font-weight: bold;
    color: skyblue;
}