* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    overflow-x: hidden;
}

span {
    display: inline-block;
}

.container {
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ch-header {
    height: 100vh;
    display: flex;
    align-items: center;
}

/* #ch-header {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    width: 100%;
    height: auto;
    color: white; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.548);
} */

#ch-header-logo {
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 2000;
    width: 20%;
    height: auto;
}

#computer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
} 

.ch-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.6);
}

.header-text {
    position: relative;
    z-index: 10;
}

.ch-header-content {
    font-size: 1.4rem;
    z-index: 2;
    margin: 0 auto;
}

.ch-header-content h1 {
    margin-bottom: 1rem;
}

a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(193, 235, 255);
}

a:visited {
    text-decoration: none;
    color: white;
}

.fa-github-square, .fa-linkedin {
    color: #00c3f0;
}

.fa-github-square:hover, .fa-linkedin:hover {
    color: #01acd3;
}

.makeBlue-text {
    color: #00c3f0;
}

.makeBlue-bg {
    color: #00c3f0 !important;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 90%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(46px)
    }
}

.ch-section {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #00c3f0;
    color: white;
    width: 100vw;
}

.ch-form {
    width: 100%;
    height: auto;
    color: #00c3f0;
}

.ch-form::placeholder {
    color: #00c3f0;
    opacity: 1;
  }

.contact-btn {
    position: relative;
    width: 80%;
    height: 20%;
    font-size: 30px;
    text-align: center;
    background-color: transparent;
    color: white;
    border-color: white;
}

.contact-btn:hover{
    background-color: white;
    color: #00c3f0;
    border-color: rgb(230, 230, 230);
}

.contact-btn:focus, .contact-btn:active {
    outline: none !important;
    box-shadow: none !important;
}

textarea:focus, input:focus {
    color: #00c3f0;
}

input, select, textarea{
    color: #00c3f0;
}

input[type=text]:focus {
    color: #00c3f0;
  }

.submitBtn {
    color: white;
    background-color: transparent;
    border-color: white;
}

.submitBtn:hover {
    color: #00c3f0;
    background-color: white;
    border-color: white;
}

.card-img-top {
    object-fit: cover;
}

.ch-resume {
    position: relative;
    text-align: center;
}

#resume-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#ch-resume-bg {
    width: 100%;
    height: auto;
}

/* Media Query */
/* @media only screen and (max-width:350) {
    #ch-header-logo {
        width: 45%;
    }
}


@media(max-width:380px) {
    
    #ch-header-logo {
        width: 45%;
    }

    #ch-header-1 {
        font-size: 8px;
    }

    #ch-header-2 {
        font-size: 1.5rem;
    }

    #header-text {
        font-size: 1rem;
    /* }
} */

/* @media(max-width:360px) {
    .card-body {
        font-size: .75rem !important;
    }

} */

/* @media(max-width:412px) {
    body {
        letter-spacing: 1.5px;
    }

    .card-text {
        text-align: left;
        height: inherit !important;
    }
}

@media(max-width:468px) {
    p.header-text {
        line-height: 1.5rem;
    }

    #ch-header-1 {
        font-size: 2rem;
    }

    #ch-header-2 {
        font-size: 1.5rem;
    }

    #ch-header-logo {
    width: 45%;
    }
} */

/* @media(max-width:768px) {
    #ch-header {
        text-align: left;
    }

    .card {
        margin: 0 auto;
    }
}

@media(max-width:780px) {
    #ch-header-content {
        font-size: 20px;
        line-height: 0.8;
        letter-spacing: 1.5px;
    }
}

@media(max-width:960px) {
    #ch-header {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media(max-width: 1010px) {
    .card-body {
        font-size: 1rem;
    }
} */

/* ============================================== */
/* ============================================== */

@media(max-width:350px) {
    .ch-header h1 {
        font-size: 4rem;
    }

    .ch-header h2 {
        font-size: 1.5rem;
    }

    .ch-header p {
        font-size: 1rem;
    }

    .ch-about h2 {
        font-size: 1.5rem;
    }

    .ch-about p {
        font-size: 1rem;
    }

    .ch-about-text {
        padding: 0 !important;
    }

    .ch-counter div {
        padding: 5px !important;
    }

    #ch-header-logo {
        width: 40%;
    }
}

@media(max-width:360px) {

    .card-body {
        font-size: .75rem !important;
    }

    .ch-contact i {
        font-size: 3em;
    }

    #ch-header-logo {
        width: 40%;
    }
}

@media(max-width:365px) {
    button.resume-click-control {
        font-size: 1rem;
    }

    #ch-header-logo {
        width: 40%;
    }
}

@media(max-width:415px) {
    body {
        font-size: 2rem;
        letter-spacing: 1.5px;
    }

    #ch-header-1 {
        font-size: 3rem !important;
    }

    .card-text {
        text-align: left;
        height: inherit !important;
    }

    #ch-header-logo {
        width: 40%;
    }
    
    .ch-header-content {
        font-size: 3rem;
        line-height: 0.8;
        letter-spacing: 1.5px;
    }
    
}

@media(max-width:468px) {
    .ch-logo-list i {
        font-size: 3em;
    }

    p.header-text {
        line-height: 1.5rem;
    }

    #ch-header-1 {
        font-size: 2rem;
    }

    #ch-header-2 {
        font-size: 1.5rem;
    }

    #ch-header-logo {
        width: 40%;
    }
}

@media(max-width: 576px) {

    #ch-header-logo {
        width: 40%;
    }
}

@media(max-width:768px) {
    .ch-header {
        text-align: left;
    }

    .card {
        margin: 0 auto;
    }

    #ch-header-logo {
        width: 40%;
    }
}

@media(max-width:780px) {
    .ch-porfolio-holder {
        height: 382px !important;
    }

    .ch-header-content {
        font-size: 3rem;
        line-height: 0.8;
        letter-spacing: 1.5px;
    }

    .btn-dark {
        margin-top: 20px;
    }

    #ch-header-logo {
        width: 40%;
    }
}

@media(max-width:960px) {
    .ch-header {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #ch-header-logo {
        width: 40%;
    }
}

@media(max-width: 1010px) {
    .card-body {
        font-size: 3rem;
    }

    #ch-header-logo {
        width: 40%;
    }
}

@media(max-width:1000px) {

    #return-to-top {
        display: none !important;
    }

    #ch-header-logo {
        width: 40%;
    }
}

/* Scroll up animation */

#scroll-to-top {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}